@import 'nullstyle';

// Variables
$ffPrimary: 'Montserrat', sans-serif;
$ffSecondary: 'Playfair Display', serif; 

$cPrimary: rgb(255, 255, 255);
$cSecondary: #3853d8;
// $cSecondary: 
// Mixins 
@mixin container ($mw) {
  max-width: $mw;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@mixin flexTool ($items, $content , $direction) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  flex-direction: $direction;
}
@mixin textProperties ($fz, $c, $ff, $fw, $ls, $tt) {
  font-size: $fz;
  color: $c;
  font-weight: $fw;
  font-family: $ff;
  letter-spacing: $ls;
  text-transform: $tt;
}
@mixin sizingProperties ($w, $h, $bc, $br) {
  width: $w;
  height: $h;
  background-color: $bc;
  border-radius: $br;
}
@mixin positionProperties ($p, $t, $r, $b, $l, $zi) {
  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  z-index: $zi;
}
body {
  font-family: $ffPrimary;
  font-size: 16px;
}
// commont things
.btn-common {
  @include flexTool(center, center, row);
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .4s linear;
}

.App {
  padding-top: 86px;
}
// containers
.header-container {
  @include container(1200px);
}
.footer-container {
  @include container(1100px);
}
.container {
  @include container(1310px);
}

// Header
.header {
  background-color: $cSecondary;
  padding: 25px 0;
  width: 100%;
  @include positionProperties(fixed, 0, unset, unset, unset, 15);
  &-left,
  &-right {
    @include flexTool(center, unset, row);
  }
  &-inner {
    @include flexTool(center, space-between , row);
  }
  &-logo {
    margin-right: 100px;
    a {
      @include textProperties(24px, $cPrimary, 'Playfair Display', 900, normal, none);
      font-style: italic;
    }
  }
  &-nav {
    &-links {
      display: flex;
    }
    &-item{ 
      margin-right: 30px;
      a {
        @include textProperties(12px, $cPrimary, inherit, 500, 0.3px, uppercase);
        transition: all .2s linear;
        &:hover {
          color: #0021c4;
        }
      }
    }
  }
  &-auth {
    @include flexTool(center, unset, row);
    margin-right: 45px;
    &__item {
      @include textProperties(12px, $cPrimary, inherit, 500, normal, uppercase);
      margin-right: 21px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-icons {
    @include flexTool(center, unset, row);
    &__item {
      margin-right: 30px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
    .header-cart__icon {
      position: relative;
      p {
        @include textProperties(10px, $cSecondary, inherit, 700, normal, none);
        @include flexTool(center, center, row);
        @include sizingProperties(19px, 19px, $cPrimary, 50%);
        position: absolute;
        right: -3px;
        top: 15px;
      }
    }
  }
  .burger-menu {
    @include sizingProperties(25px, 4px, $cPrimary, 15px);
    position: relative;
    margin-left: 25px;
    transition: all .4s linear;
    display: none;
    &::after,
    &::before {
      @include sizingProperties(25px, 4px, $cPrimary, 15px);
      content: '';
      position: absolute;
    }
    &::after {
      top: 7px;
    }
    &::before {
      bottom: 7px;
    }
    &.close {
      &::before {
        display: none;
      }
      transform: rotate(45deg);
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }
  &-aside {
    @include sizingProperties(25%, 100%, $cPrimary, 0);
    @include positionProperties(fixed, 0, unset, 0, 0, 2);
    transform: translateX(-100%);
    transition: all .4s linear;
    &.active {
      transform: translateX(0);
    }
  }
  .header-nav.mobile {
    .header-nav-links {
      display: none;
      padding: 30px 0 0 20px;
    }
    .header-nav-item {
      padding-bottom: 20px;
      a {
        @include textProperties(16px, $cSecondary, inherit, 600, normal, none);
        margin-right: 0;
      }
    }
  }
  .burger-overlay {
    @include positionProperties(fixed, 0, 0, 0, 0, unset);
    display: none;
    &.active {
      display: block;
    }
  }
  .header-auth.mobile {
    padding: 30px 0 0 20px;
    display: none;
    .header-auth__item {
      @include textProperties(15px, $cSecondary, inherit, 700, normal, none);
      padding-bottom: 10px;
    }
  }
  @media screen and (max-width: 992px){
    .header-nav-links {
      display: none;
    }
    .header-icons .header-cart__icon {
      margin-right: 20px;
    }
    .header-nav.mobile {
      .header-nav-links {
        display: block;
      }
    }
    .burger-menu {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
    .header-auth {
      display: none;
    }
    .header-auth.mobile {
      display: block;
    }
    .header-nav.mobile {
      .header-nav-links {
        .header-nav-item a {
          font-size: 14px;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    .header-aside {
      width: 40%;
    }
  }
  @media screen and (max-width: 420px) {
    .header-aside {
      width: 50%;
    }
  }
}
// Header Slider (Home)
.header-slider {
  width: 100%;
  min-height: 720px;
  background-position: center;
  background-size: cover;
  &-inner {
    position: relative;
  }
  &__item {
    @include flexTool(center, center, column);
    min-height: 680px;
    transition: all .4s linear;
    &-content {
      @include flexTool(center, unset, column);
      text-align: center;
      max-width: 740px;
      width: 100%;
    }
    display: none;
    &.active {
      display: flex;
    }
  }
  &__title {
    @include textProperties(72px, $cPrimary, $ffSecondary, bold, normal, none);
    word-break: break-all;
  }
  &__btn {
    padding-top: 30px;
    a {
      @include textProperties(16px, $cPrimary, inherit, 600, 2px, uppercase);
      @include sizingProperties(200px, 50px, $cSecondary, 25px);
      &:hover {
        background-color: #fff;
        color: rgb(56, 83, 216);
      }
    }
  }
  &-arrow {
    position: absolute;
    top: 40%;
    i {
      font-size: 42px;
      color: #999;
      transition: all .4s linear;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  @media screen and (max-width: 992px){
    .header-slider__title {
      font-size: 48px;
    }
    .header-slider__btn a {
      height: 40px;
      font-size: 14px;
    }
    .header-slider__item-content {
      padding: 0 45px;
    }
  }
  @media screen and (max-width: 768px){
    min-height: 550px;
    .header-slider__title {
      font-size: 32px;
    }
    .header-slider-arrow i {
      font-size: 32px;
    }
    .header-slider__item {
      min-height: 550px;
    }
  }
  @media screen and (max-width: 420px) {
    .header-slider__title {
      font-size: 28px;
    }
    .header-slider__btn a {
      width: 180px;
      height: 35px;
    }
  }
}

// Features (Home)
.features {
  @include flexTool(center, unset, unset);
  &-inner {
    @include sizingProperties(100%, unset, $cPrimary, 5px);
    @include flexTool(center, space-between, unset);
    border: 1px solid rgb(213, 213, 214);
    min-height: 154px;
    padding: 0 55px;
    margin-top: -77px;
  }
  &-item {
    display: flex;
    &__icon {
      padding-right: 20px;
    }
    &__title {
      @include textProperties(18px, rgb(0, 0, 0), inherit, 600, normal, none);
    }
    &__para {
      @include textProperties(14px, rgb(153, 153, 153), inherit, 400, normal, none);
    }
  }
  .features-seperate-hr {
    @include sizingProperties(1px, 80px, rgb(211, 211, 211), none);
  }
  @media screen and (max-width: 992px) {
    &-inner {
      padding: 0 10px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .features-seperate-hr {
      margin: 0 20px;
      &:nth-child(6) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .features-seperate-hr {
      display: none;
    }
    &-item {
      margin: 20px 20px;
    }
  }
}

// Banner
.banner {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  margin: 40px 0 25px;
  @include flexTool(center, center, column);
  text-align: center;
  &-top {
    @include textProperties(16px, $cPrimary, inherit, 500, 3px, uppercase);
    padding-bottom: 20px;
  }
  &-title {
    @include textProperties(36px, $cPrimary, $ffSecondary, 400, normal, none);
  }
  &-subtitle {
    @include textProperties(16px, $cPrimary, inherit, 500, normal, none);
    padding-top: 5px;
  }
  @media screen and (max-width: 576px) {
    &-title {
      font-size: 28px;
    }
    &-subtitle, &-top {
      font-size: 14px;
    }
  }
}

// Home Product 
.home-product {
  @include flexTool(normal, space-between, unset);
  &__item {
    @include sizingProperties(100%, 320px, rgb(212, 189, 173), unset);
    max-width: 625px;
    margin-right: 20px;
    display: flex;
    &:last-child {
      margin-right: 0;
    }
    &:last-child .home-product__info {
      padding-right: 5px;
    }
    &:first-child .home-product__info {
      padding-right: 25px;
    }
  }
  &__info {
    padding: 70px;
  }
  &__brand {
    @include textProperties(14px, $cPrimary, inherit, 600, 2px, uppercase);
    padding-bottom: 12px;
  }
  &__title {
    @include textProperties(30px, $cPrimary, $ffSecondary, 600, 1px, none);
    padding-bottom: 30px;
  }
  &__price {
    @include textProperties(16px, $cPrimary, inherit, 600, 1px, uppercase);    
  }
  &__image {
    padding-right: 25px;
  }
  @media screen and (max-width: 1200px) {
    &__info {
      padding: 20px;
      padding-top: 50px;
    }
    &__title {
      font-size: 28px;
      height: 123px;
    }
  }
  @media screen and (max-width: 992px) {
    &__brand {
      font-size: 13px;
    }
    &__title {
      font-size: 20px;
    }
    &__price {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    &__item {
      margin-bottom: 30px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 420px) {
    &__title {
      font-size: 16px;
    }
    &__image {
      padding-right: 5px;
    }
    &__info {
      padding: 5px;
      padding-top: 40px;
    }
  }
} 

// Blog
.blog {
  margin-top: 30px;
  display: flex;
  &-left {
    background-position: center;
    background-size: cover;
    max-width: 298px;
    width: 100%;
    min-height: 500px;
    padding: 40px 50px;
    @include flexTool(center, flex-start, column);
    text-align: center;
    &__top {
      @include textProperties(12px, $cPrimary, inherit, normal, normal, uppercase);
    }
    &__num {
      @include textProperties(100px, $cPrimary, $ffSecondary, 400, normal, uppercase);
      line-height: 1;
      padding: 80px 0 20px;
    }
    &__para {
      @include textProperties(24px, $cPrimary, $ffSecondary, 400, normal, none);
      padding-bottom: 80px;
    }
    &__btn {
      a {
        @include sizingProperties(140px, 40px, $cSecondary, 15px);
        @include textProperties(12px, $cPrimary, inherit, 600, 1px, none);
        box-shadow: 0px 2px 20px 0px rgba(56, 83, 216, 0.2);
        &:hover {
          background-color: #fff;
          color: rgb(56, 83, 216);
        }
      }
    }
  }
  &-right {
    margin-left: 30px;
    width: 100%;
    &__top {
      border: 1px solid rgb(213, 213, 214);
      height: 80px;
      width: 100%;
      @include flexTool(center, space-between, row);
      padding-left: 80px;
    }
    &__title {
      @include textProperties(14px, rgb(35, 35, 35), inherit, bold, normal, uppercase);
    }
    &__arrow {
      @include textProperties(14px, rgb(35, 35, 35), inherit, normal, normal, none);
      @include flexTool(center, flex-start, unset);
      height: 100%;
      padding: 0 30px;
      cursor: pointer;
      &.left {
        border-left: 1px solid rgb(213, 213, 214);
        border-right: 1px solid rgb(213, 213, 214);
      }
    }
    &-arrows {
      @include flexTool(center, center, unset);
      height: 100%;
    }
  }
  &-slider {
    display: flex;
    padding: 50px;
    border: 1px solid rgb(213, 213, 214);
    border-top: none;
    &__item {
      width: 245px;
      min-height: 100px;
      display: flex;
      margin-bottom: 45px;
      &.active {
        max-width: 575px;
        width: 100%;
        min-height: 315px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding: 175px 0 0 50px;
        margin-right: 30px;
        .blog-slider__active-date {
          @include textProperties(10px, $cPrimary, inherit, normal, normal, none);
        }
        .blog-slider__active-title {
          @include textProperties(18px, $cPrimary, $ffSecondary, normal, normal, none);
          padding: 10px 0;
          max-width: 215px;
          width: 100%;
        }
        .blog-slider__active-bottom {
          @include flexTool(center, flex-start, row);
        }
        .blog-slider__active-comments,
        .blog-slider__active-hearts {
          @include textProperties(10px, $cPrimary, inherit, normal, normal, none);
          @include flexTool(center, flex-start, row);
          i {
            padding-right: 5px;
          }
        }
        .blog-slider__active-hr {
          background-color: $cPrimary;
          margin: 0 13px;
          height: 100%;
          width: 1px;
        }
      }
      &-image {
        padding-right: 25px;
      }
      &-date {
        @include textProperties(10px, rgb(153, 153, 153), inherit, normal, normal, none);
      }
      &-title {
        @include textProperties(18px, rgb(35, 35, 35), $ffSecondary, 400, normal, none);
        padding: 12px 0;
      }
      &-bottom {
        @include flexTool(center, unset, unset);
        height: 20px;
      }
      &-hr {
        margin: 0 13px;
        @include sizingProperties(1px, 100% !important, #999, none);
      }
      &-comments,
      &-hearts {
        @include textProperties(10px, rgb(153, 153, 153), inherit, normal, normal, none);
        @include flexTool(center, unset, unset);
        i {
          padding-right: 5px;
        }
      }
    }
    .blog-slider-items__btn {
      a {
        @include textProperties(14px, rgb(35, 35, 35), inherit, 600, normal, uppercase);
        i {
          margin-left: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .blog-slider__item.active {
      padding: 100px 0 0 20px;
    }
  }
  @media screen and (max-width: 992px) {
    .blog-slider {
      padding: 15px;
    }
    .blog-right {
      margin-left: 10px;
    }
    .blog-left {
      max-width: 250px;
    }
    .blog-slider__item.active {
      margin-right: 15px;
    }
    .blog-slider__item-image {
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .blog-left {
      max-width: 100%;
    }
    .blog-right {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider {
      flex-direction: column;
    }
    .blog-right__top {
      padding-left: 20px;
    }
  }
}

// Partners Slider
.partners-slider {
  @include flexTool(center, space-between, unset);
  position: relative;
  margin: 70px 0;
  padding: 0 60px;
  min-height: 62px;
  &__item {
    display: none;
    &.active {
      display: block;
    }
  }
  &__arrow {
    position: absolute;
    top: 25%;
    font-size: 24px;
    color: rgb(153, 153, 153);
    cursor: pointer;
    transition: all .4s linear;
    &:hover {
      color: #000;
    }
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  @media screen and (max-width: 992px) {
    &__item {
      img {
        width: 120px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__item {
      img {
        width: 100px;
      }
    }
    .partners-slider__arrow {
      font-size: 16px;
    }
    padding: 0 35px;
  }
  @media screen and (max-width: 576px) {
    flex-direction: column;
    &__item {
      margin-bottom: 35px;
      img {
        height: 50px;
        object-fit: contain;
      }
    }
  }
}

// Footer 
.footer {
  @include sizingProperties(100%, 100%, #363637, none);
  @include flexTool(center, unset, unset);
  min-height: 240px;
  &-inner {
    @include flexTool(center, space-between, unset);
  }
  &-item {
    min-height: 155px;
    height: 100%;
    &:first-child {
      padding-right: 80px;
    }
    &:nth-child(2) {
      max-width: 480px;
      width: 100%;
    }
  }
  &-logo {
    padding-bottom: 50px;
    a {
      @include textProperties(24px, $cPrimary, $ffSecondary, 900, normal, none);
      font-style: italic;
    }
  }
  &-links {
    display: flex;
    &__item {
      margin-right: 18px;
      a {
        font-size: 14px;
        color: #999;
        transition: all .4s linear;
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  &-nav {
    &__inner {
      display: flex;
    }
    &__item {
      margin-right: 30px;
      a {
        @include textProperties(12px, $cPrimary, inherit, 600, normal, uppercase);
        transition: all .4s linear;
        &:hover {
          color: #3853d8;
        }
      }
    }
  }
  &-form {
    &-inner {
      display: flex;
    }
    label {
      @include textProperties(12px, $cPrimary, inherit, 500, 1px, uppercase);
      padding: 55px 0 20px;
    }
    input[type='email'] {
      max-width: 320px;
      padding: 0 30px;
      @include textProperties(13px, #000, inherit, 500, normal, none);
      @include sizingProperties(100%, 40px, rgb(245, 245, 245), none);
      &::placeholder {
        @include textProperties(12px, rgb(142, 142, 142), inherit, 600, normal, none);
      }
    }
    input[type='submit'] {
      @include sizingProperties(140px, 40px, $cPrimary, none);
      @include textProperties(12px, rgb(54, 54, 55), inherit, 700, 0.5px, none);
      margin-left: 20px;
    }
  }
  &-contact {
    font-size: 12px;
    color: rgb(255, 255, 255);
    &__title {
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 4px;
      font-size: 12px;

    }
    &__para {
      padding: 32px 0;
      font-weight: 500;
    }
    &__cards {
      img {
        margin-right: 8px;
      }
    }
  }
  @media screen and (max-width:992px) {
    &-item:first-child {
      padding-right: 0;
    }
    &-item:nth-child(2) {
      max-width: 340px;
    }
  }
  @media screen and (max-width:768px) {
    padding: 30px 0;
    &-inner {
      flex-direction: column;
      text-align: center;
    } 
    &-logo {
      padding-bottom: 20px;
    }
    &-item {
      min-height: 110px;
    }
    .footer-form label {
      padding-top: 30px;
    }
    .footer-contact__para {
      padding: 12px 0;
    }
    &-contact {
      padding-top: 25px;
    }
  }
  @media screen and (max-width:420px) {
    .footer-nav__inner {
      justify-content: space-between;
    }
    .footer-nav__item {
      margin-right: 10px;
    }
    .footer-form-inner {
      flex-direction: column;
      align-items: center;
    }
    .footer-form input[type='submit'] {
      margin-left: 0;
      margin-top: 12px;
    }
  }
}

// Home Catalog
.home-catalog {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  @media screen and (max-width:1200px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width:768px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width:768px){
    grid-template-columns: (1fr);
  }
}

// Catalog Item
.catalog-item {
  border: 1px solid rgb(211, 211, 211);
  min-height: 296px;
  @include flexTool(center, flex-start, column);
  text-align: center;
  padding-top: 25px;
  &__img {
    img {
      width: 170px;
      height: 150px;
      object-fit: contain;
    }
  }
  &__title {
    @include textProperties(18px, rgb(35, 35, 35), $ffSecondary, normal, normal, none);
    padding-top: 33px;
  }
  &__price {
    padding-top: 13px;
    &-num {
      @include textProperties(14px, $cSecondary, inherit, 600, normal, none);
    }
    &.discounted {
      @include flexTool(center, unset, unset);
      .catalog-item__price-num {
        text-decoration: line-through;
        color: rgb(153, 153, 153);
        padding-right: 15px;
      }
      .catalog-item__price-discounted {
        @include textProperties(14px, $cSecondary, inherit, 600, normal, none);
      }
    }
  }
} 

// catalog banner
.catalog-inner {
  @include sizingProperties(100%, 100%, #cbb6a5, unset);
  @include flexTool(center, center, row);
  min-height: 320px;
  padding: 0 75px;
  margin-top: -85px;
  &__left {
    flex: 2;
  }
  &__right {
    flex: 1;
    .catalog-inner__info {
      margin-left: 15px;
    }
  }
  &__item {
    @include flexTool(center, space-between, row);
  }
  &__title {
    @include textProperties(30px, $cPrimary, $ffSecondary, bold, 0.5px, none);
    padding: 10px 0 40px 0;
  }
  &__subtitle {
    @include textProperties(14px, $cPrimary, inherit, 500, 1.2px, uppercase);
  }
  &__btn {
    a {
      @include sizingProperties(150px, 40px, $cPrimary, 20px);
      @include textProperties(14px, rgb(202, 181, 164), inherit, 600, 0.4px, capitalize);
      @include flexTool(center, center, unset);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      
    }
  }
  @media screen and (max-width:1200px) {
    padding: 0 50px;
  }
  @media screen and (max-width:992px) {
    padding: 0 25px;
    &__title {
      font-size: 20px;
    }
    &__left {
      margin-right: 30px;
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
    &__right {
      margin-right: 30px;
      img {
        width: 130px;
        height: 200px;
        object-fit: contain;
      }
    }
  }
  @media screen and (max-width:768px) {
    padding: 30px 10px;
    flex-direction: column;
    &__title {
      font-size: 18px;
    }
    &__left {
      margin-right: 0;
      margin-bottom: 40px;
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
    &__right {
      margin-right: 30px;
      img {
        width: 130px;
        height: 200px;
        object-fit: contain;
      }
    }
  }
  @media screen and (max-width:420px) {
    &__btn a {
      width: 135px;
      height: 30px;
    }
  }
}


// Pathway 
.pathway {
  @include sizingProperties(100%, 100%, #0021c4, unset);
  @include flexTool(center, flex-start, column);
  padding-top: 45px;
  min-height: 250px;
  &-title {
    @include textProperties(24px, $cPrimary, inherit, bold, 2px, uppercase);
    padding-bottom: 20px;
  }
  &-list {
    @include flexTool(center, center, row);
    &__item {
      a {
        @include textProperties(14px, $cPrimary, inherit, normal, 0.3px, capitalize);
      }
    }
    i {
      font-size: 14px;
      color: $cPrimary;
      margin: 0 10px;
    }
  }
  @media screen and (max-width: 768px) {
    &-title {
      font-size: 18px;
    }
    .pathway-list__item a {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 576px) {
    &-title {
      font-size: 16px;
    }
    .pathway-list__item a {
      font-size: 12px;
    }
  }
}




// 1110 ----TO----- after refactoring 950